<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet", href="stylesheets/style.css">
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
  <div class="box">
    <div class="title">
      <h1>Todo List</h1>
      <p>Get things done. ine item at a time</p><hr>
    </div>
    
    <ul class="list">
      <li>
        Learn VueJs
        <div>
          <input type="checkbox" id="cb1">
          <label for="cb1"></label>
          <i class="fas fa-solid fa-pen"></i>
          <i class="fas fa-solid fa-trash"></i>
        </div>
      </li>
      <li>
        Learn VueJs
        <div>
          <input type="checkbox" id="cb2">
          <label for="cb2"></label>
          <i class="fas fa-solid fa-pen"></i>
          <i class="fas fa-solid fa-trash"></i>
        </div>
      </li>
      <li>
        Learn VueJs
        <div>
          <input type="checkbox" id="cb3">
          <label for="cb3"></label>
          <i class="fas fa-solid fa-pen"></i>
          <i class="fas fa-solid fa-trash"></i>
        </div>
      </li>
      <div class="switch-container">
        <p>Move done items at the end?</p>
        <input type="checkbox" id="switch" role="switch">
        <label for="switch"></label>
      </div>
    </ul>

    <div class="input">
      <p>Add to the todo list</p>
      <input type="text" id="txt">
      <button id="btn">ADD ITEM</button>
    </div>
  </div>
</body>
</html>