<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/todolist.css">
    <title>To-Do List</title>




</head>
<body>
    <div class="todo-container">
        <h1 id="mainText">To-Do List</h1>
        <h5 id="subText">Get things done. one item at a time.</h5>
        <hr id="middleLine">
        <ul id="todo-list">
            <!--뭐 알아서 추가 될거임 이야 이거 정말 큰일이다. 정말 정말 정말 큰일이야 나는 백엔드 부분을 몰라 진짜 개망했어 아이고 아이고 아이고 하아-->
        </ul>
        
        <div id="switchButton">
            <h5 style="display: inline;" id="switchText">Move done items at the end?</h5>
            <div class="onoff-switch-container">                
                <input type="checkbox" name="onoff-switch" id="onoff-switch1" />
                <label for="onoff-switch1"></label>
            </div>
        </div>
        <h3 id="addText">Add to the todo list</h3>
        <div>
            <input type="text" id="new-task">
            <button id="add-button">ADD THEM</button>
        </div>
    </div>
    <script src="./todo.js"></script>
</body>
</html>