
body{
  background: #F7F1F1;
  margin: 0;
}

.box{
  color: #FFFFFF;
  background: #FF6666;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.title{
  position: relative;
  margin: 50px;
  border: solid 2px blue;
  
}
