body {
  background: #F7F1F1;
  margin: 0;
  font-weight: lighter;
}

.box {
  color: #FFFFFF;
  background: #FF6666;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  overflow: hidden;
  /* overflow: auto; */
  box-shadow: -15px -15px #e0e0e0;
}

.title {
  position: relative;
  margin: 50px 50px 50px 50px;
  line-height: 10px;
}

.list {
  /* display: none; */
  /* display: block; */
}
ul li {
  width: 320px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  background: rgb(255, 118, 118);
  list-style: none;
  padding: 20px 50px 30px 50px;
  right: 40px;
  margin-bottom: 5px;
}
.icon-box{
  letter-spacing: 0.3em;
}
.input-text{
  position: relative;
  background: rgb(255, 118, 118);
  /* border: solid 1px black; */
  border: none;
  width: auto;
  height: 20px;
  top: 2px;
  color: #FFFFFF;
  outline: none;
  caret-color: black;
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 15px;
}
ul li input[type="checkbox"]{
  display: none;
}
ul li input[type="checkbox"]:checked + label{
  background: #FFFFFF;
}
ul li input[type="checkbox"]:checked + label::after{
  background: #FFFFFF;
  content: '✔';
  position: absolute;
  left: 0;
  bottom: 4px;
  font-size: 15px;
  width: 15px;
  height: 13px;
  color: rgb(255, 118, 118);

}

ul li label {
  width: 15px;
  height: 15px;
  border: solid 2px #FFFFFF;
  display: inline-block;
  top: 4px;
  position: relative;
}

.switch-container{
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

#switch{
  /* display: none; */
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid #FFFFFF;
  border-radius: 1.25em;
  width: 2.5em;
  height: 1.5em;
  top: 15px;
  background: #FFFFFF;
  margin-right: 5px;
  margin-left: 10px;
}
#switch:checked::before{
  content: "";
  position: absolute;
  left: 15px;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  transform: scale(1.2);
  background-color: rgb(255, 118, 118);
  transition: left 250ms linear;
}
#switch::before{
  content: "";
  position: absolute;
  left: 1px;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  transform: scale(1.2);
  background-color: rgb(255, 118, 118);
  transition: left 250ms linear;
}

.empty{
  display: none;
  /* display: flex; */
  justify-content: center;
}

.input {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#txt {
  position: relative;
  background: #FFFFFF;
  border: 0px;
  padding: 15px 20px 15px 20px;
  bottom: 10px;
}

#btn {
  position: relative;
  background: #FF6666;
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  padding: 15px 20px 15px 20px;
  bottom: 10px;
}